name: Build CI

on:
  push:
    branches:
      - master

jobs:
  release:
    name: Build and Publish
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.GH_PAT }}

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install Dependencies
        run: npm install

      - name: Build TypeScript
        run: npm run build

      - name: Run Tests
        run: npm run test

      - name: Build Package
        run: npm run package

      - name: Publish Package
        uses: stefanzweifel/git-auto-commit-action@v4.9.2
        with:
          commit_message: ":rocket: Deploy new version [skip ci]"
          commit_user_name: Koj Bot
          commit_user_email: bot@koj.co
          commit_author: Koj Bot <bot@koj.co>
